@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Shojumaru|Vast+Shadow');
/* latest*/
body {
    background-image: url("../images/nba-logo-design.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.jumbotron {
    background-color:rgba(2, 19, 43, 0.705);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
}

.jumbotron, h1{
    color: rgb(243, 239, 234);
    text-align: center;
    font-family: 'Vast Shadow', cursive;
}

.panel{
background-color: rgba(2, 19, 43, 0.705);
}

.panel-default > .panel-heading {
background-color: rgba(243, 7, 18, 0.8);  
font-family: 'Vast Shadow', cursive;
}

.teamBtn, .btn-lg{
margin: 10px 5px 5px 5px;
background-color: rgba(243,7,18,0.8);
color: rgb(247, 244, 241);
font-family: 'Vast Shadow', cursive;
}

p, .panel-default > .panel-heading{
color: rgb(247, 244, 241);
}
